%table.table.table-condensed
  %thead
    %tr
      %th.email Email
      %th.role Role
      %th.status Status

  %tbody
    - @pendinguser.each do |user|
      %tr
        %td.email{:title => user.email}= link_to user.email, user, :id => "view_#{user.id}"
        %td.name{:title => user.role}= user.role
        %td.name{:title => user.status}= user.status

%table.table.table-condensed
  %thead
    %tr
      %th.email Email
      %th.email Fist name
      %th.email Last name
      %th.role Role
      %th.date Last signed in

  %tbody
    - @approveduser.each do |user|
      %tr
        %td.email{:title => user.email}= link_to user.email, user, :id => "view_#{user.id}"
        %td.name{:title => user.first_name}= user.first_name
        %td.name{:title => user.last_name}= user.last_name
        - if user.has_role? :admin
          %td.name{:title => user.role} Admin
        - else
          %td.name{:title => user.role} User
        %td.date
          - if user.last_sign_in_at.nil?
            Never logged in
          - else
            = user.last_sign_in_at.localtime.strftime("%d/%m/%Y %I:%M%p")
