.form-horizontal
  .form-group
    .col-sm-offset-2.col-sm-10
      - if current_user.id == @user.id
        %h2 My account details
      - else
        %h2 #{@user.first_name} #{@user.last_name}
  .form-group
    %label.control-label.col-sm-2 Email
    .col-sm-10.text
      = @user.email
  - if current_user.id == @user.id
    .form-group
      %label.control-label.col-sm-2 First name
      .col-sm-10.text
        = @user.first_name
  - if current_user.id == @user.id
    .form-group
      %label.control-label.col-sm-2 Last name
      .col-sm-10.text
        = @user.last_name
  .form-group
    %label.control-label.col-sm-2 Contact number
    .col-sm-10.text
      = @user.contact
  .form-group
    %label.control-label.col-sm-2 Location
    .col-sm-10.text
      = @user.location
  .form-group
    %label.control-label.col-sm-2 Role
    .col-sm-10.text
      = @user.roles.map { |c| c.name }.sort.join(', ').humanize
  .form-group
    %label.control-label.col-sm-2 Status
    .col-sm-10.text
      = @user.status.humanize
  .form-group
    %label.control-label.col-sm-2 Last login
    .col-sm-10.text
      - if @user.last_sign_in_at.nil?
        Never logged in
      - else
        = @user.last_sign_in_at.localtime.strftime("%d/%m/%Y %I:%M%p")

  .form-group
    .col-sm-2
      = link_to "Back", session[:last_page], :class => "btn btn-default pull-right"
    .col-sm-10
      - if current_user.has_role? :admin || current_user.id == @user.id
        = link_to "Edit details", edit_user_path, :id => "view_#{@user.id}", :class => "btn btn-primary"
