%article
  .text-center
    .well.controls
      = link_to event_path(date: @date - 1.month), class: 'btn btn-default' do
        %i.glyphicon.glyphicon-backward
      = "#{@date.strftime("%B")} #{@date.year}"
      = link_to event_path(date: @date + 1.month), class: 'btn btn-default' do
        %i.glyphicon.glyphicon-forward
  = calendar @date do |date|
    %span.date= date.day
    %ul.clearfix
      - @events.where("start_date <= ? AND finish_date >=?", date, date).each_with_index do |event, index|
        - if event.start_date == date
          %li{class: "start", "event-id" => event.id.to_s}= link_to event.name, event, class: 'label label-default'
        - elsif event.finish_date == date
          %li{class: "finish", "event-id" => event.id.to_s}= link_to '&nbsp;'.html_safe, event, class: 'label label-default'
        - else
          %li{class: "middle", "event-id" => event.id.to_s}= link_to '&nbsp;'.html_safe, event, class: 'label label-default'


%article
  %h2 Created Events
  %table.table.table-condensed
    %thead
      %tr
        %th.name Event
        %th.type Type
        %th.start Start
        %th.length Duration
        %th.guests Guests
        %th.action Actions
    %tbody
      - @events.where(:owner => current_user).each do |event|
        %tr
          %td.name{title: event.id}= event.name
          %td.type{title: event.type}= event.type
          %td.start{title: event.start}= event.start
          %td.length{title: 'Days'}= event.length
          %td.guests{title: event.users}
            - event.users.each_with_index do |user, index|
              - if index == 0
                %span= link_to user.sig, user
              - else
                , 
                = link_to user.sig, user
          %td.action
            = link_to "", event_path(event_id: event), class: "glyphicon glyphicon-trash", method: 'delete', data: {confirm: 'Are you sure you want to delete this file?'}

%article
  %h2 Events
  %table.table.table-condensed
    %thead
      %tr
        %th.name Event
        %th.type Type
        %th.start Start
        %th.length Days
        %th.guests Guests
        %th.action Actions
    %tbody
      - @events.each do |event|
        %tr
          %td.name{title: event.id}= event.name
          %td.type{title: event.type}= event.type
          %td.start{title: event.start}= event.start
          %td.length{title: 'Days'}= event.length
          %td.guests{title: event.users}
            - event.users.each_with_index do |user, index|
              - if index == 0
                %span= link_to user.sig, user
              - else
                , 
                = link_to user.sig, user
          %td.action
            = link_to "", event_path(event_id: event), class: "glyphicon glyphicon-trash", method: 'delete', data: {confirm: 'Are you sure you want to delete this file?'}
