%article
  = form_for :event, url: event_path, html: {:class => "form-signin"} do |f|

    %h2 New Event
    = devise_error_messages!

    .form-group
      = f.label :name
      = f.text_field :name, class: 'form-control', :placeholder => "Event name", :autofocus => true

    .form-group
      = f.label :users
      = collection_select :user, :member_id, User.all, :id, :name, {prompt: 'Add Users to event'}, {class: 'form-control'}

    .form-group
      = f.label :start_date, class: ''
      = f.date_select :start_date, {}, {class: 'form-control col-xs-4'}

    .form-group
      = f.label :finish_date
      = f.date_select :finish_date, {}, {class: 'form-control col-xs-4'}

    .form-group
      = f.submit "Create Event", class: 'btn btn-block btn-lg btn-primary'
