- @about.each do |text|
  %section{id: 'about_' + "#{text.id}"}
    %h2{id: "about_title_" + "#{text.id}", "data-mercury" => "full"} #{text.title}
    %h4 #{text.category}
    .content
      #{text.content}
    %table.table.table-condensed
      %thead
        %tr
          %th.id id
          %th.file Name
          %th.type File type
          %th.size File size
          %th.date Uploaded at
          %th.action Actions
      %tbody
        - text.assets.each do |asset|
          %tr
            %td.id{title: asset.id}= asset.id
            %td.file{title: asset.name}= link_to asset.name, asset.url
            %td.type{title: asset.content_type}= asset.content_type
            %td.size{title: asset.file_size}= number_to_human_size(asset.file_size)
            %td.date{title: asset.asset_updated_at}= asset.asset_updated_at
            %td.action
              = link_to "Remove File", about_path(text_id: text, asset_id: asset), class: "remove_fields", method: 'delete'
    = form_for text, url: about_path(text_id: text), method: 'create', html: { :multipart => true } do |form|
      = form.file_field :asset
      = form.submit "Update", class: 'btn btn-primary'

= link_to "Edit Page", "/editor" + request.path, { id: 'edit_link', 'data-save-url' => '/about/mercury_update'}
:javascript
  parent.Mercury.on('ready', function() { Mercury.saveUrl = '/about/mercury_update'; });
