%header.header.container
  %ul.nav.nav-pills.pull-right
    - if user_signed_in?
      %li{ :class => activepath?(about_path) }
        = link_to 'About', about_path
      %li{class: activepath?(event_path)}
        = link_to 'Calendar', event_path
      %li{ :class => activepath_fuzzy?(users_path) }
        = link_to 'Members', users_path
      %li
        = link_to('<span class="glyphicon glyphicon-user"></span>'.html_safe, user_path(current_user))
      %li
        = link_to('<span class="glyphicon glyphicon-flash"></span>'.html_safe, destroy_user_session_path, :method=>'delete')
    - else
      %li{ :class => activepath?(root_path) }
        = link_to 'Login', root_path
      %li{ :class => activepath?(new_user_path) }
        = link_to 'Request account', new_user_path
  %h3
    =link_to "Tilba Lake Community", '/', id: "logo"
